.main_search{
    display: flex;
}
.search {  
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 50px;
    padding: 5px;
    width: 500px;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
}
.search-input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}
.main_spotify{
    display: flex ;
    margin-top: 10px;
    justify-content: center;
    width:100%;  
    height:522px;
}
.artists {
    background-color: rgb(54, 54, 54);
    width:4%;
    /* margin-left:5px; */
    border-radius: 8px; 
}
.list_music{
    background-color: rgb(54, 54, 54);
    width:70%;
    margin-left:5px;
    border-radius: 8px; 
}
.text_head_lm{
    color: white;
    /* text-align: center; */
    margin-left: 15px;
}
.text_head_lm h1 {
    font-size: 70px;
    margin-bottom: 10px;
}  
.text_head_lm p {
    font-size: 12px;
    align-items: center;
    display: flex ;
    
}
.head_lm {
    align-items: center;
    gap: 20px;
    background-color: rgb(148, 37, 37);
    padding: 5px;
    display: flex ;
    border-radius: 10px 10px 0px 0px;
}
.pic {
    margin: 13px;
    border-radius: 10px;  
}
.album{
    background-color: rgb(54, 54, 54);
    width:25%;  
    margin-left:5px;
    border-radius: 8px; 
}
.mg-top{
    margin: 10px;   
}
.tracklist table {
    width: 100%;
    /* border-collapse: collapse; */
}
.tracklist th, .tracklist td {
    padding: 10px;
    /* border-bottom: 1px solid #333; */
}
.now-playing {
    background-color:  #121212;
    padding: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 2%;
}
.mg_left {
    margin-left: 2px;
}